/* theme/dark.css */

[data-theme="dark"] {
  --ap-color-surface: var(--ap-color-black-medium);
  --ap-color-surface-elevated: var(--ap-color-black-dark);
  --ap-color-surface-sunken: var(--ap-color-black-light);

  --ap-color-text: var(--ap-color-white-medium);

  --ap-color-divider: var(--ap-color-divider-dark);
}
